.demo-headline{
	padding-top:0;
}

#menubar {
	margin-bottom:2em;
}

.affix {
    background-color: #fff;
    padding-top: 5px;
    top: 0;
    z-index: 999;
    width:970px;
}

#menu, #genre {
	float:left;
	margin-right:20px;
	padding-bottom:5px;
}

.cta-btn {
	width: 100%; 
	font-weight: 800; 
	font-size: 1.2em; 
	line-height: 1em;
	margin-bottom:5px;
}

footer{
	margin-top:3em;
}

.demo-browser-content {
    background-color: white;
    border-radius: 0;
    overflow: hidden;
    padding: 0;
}

.snapresult {
	height:auto;
	float:left;
	padding: 20px 0;

}

.snapresult:nth-child(odd){
	background-color:#f8f8f8;
}

.snapwrap{
	display: flex; 
	margin-left: 9em;
}

.snap {
	padding-left:0;
}

.snapwrapper > img {
	border:0;
	padding:0 5px 0 0;
	float:left;
	margin:0;
	max-height: 350px;
}

.snapcontent{
	overflow-x: scroll;
	overflow-y: hidden;
}

.snapwrapper{
	width:360%;
}

.s h5 {
	text-align:center;
	font-size:1em;
	margin-bottom:5px;
}

.s .desc {
	font-weight:100;
	text-align:center;
	font-size:0.7em;
	line-height:1em;
}

.underdesc .fa-heart, .underdesc .fa-heart-o {
	color: #e74c3c;
}

.underdesc {
	text-align:center;
}

.genreRadios label {
	float:left;
	padding-right:20px;
	line-height:1em;
	font-size:1em;
}

.genreRadios {
    float: left;
    margin-bottom: 1em;
    width: 100%;
}


.btn-social.btn-lg {
    padding-left: 61px;
}
.btn-facebook {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}
.btn-social {
    overflow: hidden;
    padding-left: 44px;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-lg, .btn-group-lg > .btn {
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33333;
    padding: 10px 16px;
}

.btn-social.btn-lg > *:first-child {
    font-size: 1.8em;
    line-height: 45px;
    width: 45px;
}
.btn-social > *:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    bottom: 0;
    font-size: 1.6em;
    left: 0;
    line-height: 34px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 32px;
}
.fa {
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
}

.disabled:hover{
	cursor: not-allowed;
}


.boorank {
	text-align:right;
	font-weight:600;
	font-size: 1.6em;
}

.booranktime {
	text-align:right;
	font-size:0.8em;
	font-weight:100;
}


.swrapper-mod{
	width:auto;
	margin-bottom:35px;
}

.swrapper-mod img{
	height: 180px;
}

.account label{
   margin: 0 auto;
    text-align: left;
    width: 23em;
    display:block;
    margin-bottom:2em;
}

.account label input {
	width: 18em; 
	float: right;
}

.demo-headline {
	padding-bottom:30px;
}