#home .container-fluid {
    max-width: 650px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}
#profile .container-fluid, 
#profile-confirm .container-fluid {
  max-width: 700px;
}
#popular .container-fluid {
  max-width: 750px;
}
#signup-1 .container-fluid,
#signup-2 .container-fluid {
  max-width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
#signup-2 .container-fluid,
#signup-3 .container-fluid {
  max-width: 100%;
  margin-left: 150px;
  margin-right: 150px;
}
#signup-4 .container-fluid {
  max-width: 100%;
  margin-left: 100px;
  margin-right: 100px;
}
.log-in-link,
.log-out-link {
  padding-top: 1em;
  padding-right: 3em;
}
#profile-confirm .demo-logo,
#profile .demo-logo,
#home .demo-logo,
#popular .demo-logo {
  margin-top: -40px;
}
.menubar-left-btn {
  padding-left: 0;
  width: 200px;
}
.menubar-right-btn {
  padding-right: 0;
  width: 200px;
  float: right;
}
#results {
  margin-bottom: 20px;
}
.snapresult {
  /*float: none;*/
}
.snapcontent {
 overflow-x: hidden; 
 /*overflow-y: hidden; */
 width: 350px;
}
/*#popular .snapcontent,*/
#signup-4 .snapcontent {
    /*width: 400px;*/
}
.owl-carousel .owl-item img {
  /*height: 350px;*/
  /*width: 150px;*/
}
.owl-controls {
  width: 100%;
}
.owl-nav {
  display: flex;
  justify-content: space-between;
}
#profile .eliminate-profile {
  margin-top: 20px;
  margin-bottom: 10px;
}
.snapcode h5 {
  margin-bottom: 0;
}
@media screen and (max-width: 995px) {
  #signup-2 span {
    text-align: center;
  }
  #signup-2 #gallery {
    padding-right: 0 !important;
    border: none !important;
  }
  #signup-2 #selfie {
    padding-left: 0 !important;
  }
  #home .snapresult,
  #profile .snapresult,
  #home .snapresult,
  #popular .snapresult,
  #signup-4 .snapresult {
    float: none;
  }
  #home .snapcontent,
  #profile .snapcontent,
  #home .snapcontent,
  #popular .snapcontent,
  #signup-4 .snapcontent {
    width: 100%
  }
  .menubar-left-btn,
  .menubar-right-btn {
    width: 100%;
    text-align: center;
  }
  .menubar-left-btn {
    margin-bottom: 10px;
  }
  .menubar-right-btn {
    float: none !important;
    margin-left: -2%;
  }
  .boorank {
    float: left;
  }
  .snapcode {
    text-align: center;
  }
  .snapcode img {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 750px) {
  #login .container-fluid {
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
  #signup-2 .container-fluid,
  #signup-3 .container-fluid,
  #signup-4 .container-fluid {
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
  #popular .snapresult {
    max-width: 80%;
    margin: 0 auto;
    min-width: 300px;
  }
  #profile .demo-logo,
  #profile-confirm .demo-logo {
    margin-left: 20px;
  }
}
@media screen and (max-width: 750px) {
  .btn-facebook {
    width: 100% !important;
  }
  #profile .eliminate-profile {
    margin-left: 10px;
  }
  
}
@media screen and (max-width: 600px) {
  .owl-carousel .owl-item img {
    /*height: 200px;*/
    /*width: 350px;*/
  }
  #signup-4 .snapcontent {
    /*max-width: 330px;*/
  }
  #profile-confirm .demo-logo,
  #profile .demo-logo,
  #home .demo-logo,
  #popular .demo-logo {
    margin-top: 0px;
  }
}
@media screen and (max-width: 475px) {

  .snapcode {
    text-align: center;
  }
  .snapcode img {
    width: 150px;
    height: 150px;
  }
  #menubar {
    text-align: center;
    margin-left: 0;
  }
  .menubar-left-btn {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .btn-group.pull-right {
    float: none !important;
  }
  .menubar-right-btn {
    /*margin-left: -30px;*/
    /*width: 100%;*/
    /*padding-left: 0;*/
  }
  .menubar-right-btn .btn-group {
    margin-left: -10px;
  }
  /*#results {*/
  /*  width: 350px;*/
  /*  margin: 0 auto;*/
  /*}*/
  #home .snapcontent,
  #popular .snapcontent,
  #signup-4 .snapcontent {
    /*max-width: 250px;*/
  }
  .owl-carousel .owl-item img {
    /*height: 315px !important;*/
    /*width: 170px !important;*/
    /*margin-left: -120px;*/
  }
  #popular .owl-carousel .owl-item img {
    /*height: 297px !important;*/
    /*width: 160px !important;*/
  }  
  #profile .owl-carousel .owl-item img {
    /*height: 344px !important;*/
    /*width: 185px !important;*/
  }  
  #popular .snapcode img {
    margin-left: -10%;
  }
  
}
@media screen and (max-width: 400px) {
  #signup-3 .account label input {
    width: 100%;
  }
  #login .account label input,
  #login .sign-in-btn {
    width: 100% !important;
  }
}


.item {
    position: relative;
    height: 320px;
}
.owl-carousel .owl-item img {
  max-height: 320px;
  width: auto !important;
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 45%;*/
  /*transform: translate(-50%, -50%);*/
  margin: 0 auto;
}

.owl-carousel .owl-stage-outer {
  overflow: visible !important;
}

@media screen and (min-width: 650px) {
  .owl-carousel .owl-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

